**/node_modules
**/.next
**/dist
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.env
**/.env.*
!**/.env.example
**/uploads
**/coverage
**/*.log
.git
**/.git
**/tsconfig.tsbuildinfo
lh-report.json
design
docs
